<p id="notice"><%= notice %></p>

<h1>Listing Animals</h1>

<table>
  <thead>
    <tr>
      <th>Common name</th>
      <th>Latin name</th>
      <th>Kingdom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="animal_table">
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.common_name %></td>
        <td><%= animal.latin_name %></td>
        <td><%= animal.kingdom %></td>
        <td><%= link_to 'Show', animal %></td>
        <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
        <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<input type="text" name="animal[common_name]" placeholder="Common Name" id="animal_common_name"/>
<input type="text" name="animal[latin_name]" placeholder="Latin Name" id="animal_latin_name"/>
<input type="text" name="animal[kingdom]" placeholder="Kingdom" id="animal_kingdom"/>
<button id="create_animal">Create</button>
<hr>

<br>

<%= link_to 'New Animal', new_animal_path %>
